body {
  margin: 0;
  padding: 0;
}

.SOW_h1 {
  color: #269ad2;
}

/* Nav Link formatting */
.is-active {
  font-weight: bold;
  font-size: 20px;
}

/* PDFGenMain Form Page */
.formContainer {
  margin: 20px;
  padding: 60px;
  background-color: #269ad2;
  border-radius: 5px;
  /* border: solid darkblue;
  border-width: 2px; */
}

div.form-group {
  border: solid darkblue;
  border-radius: 5px;
  border-width: 1px;
}

label.form-label {
  padding: 10px;
  font-size: 20px;
}

input.form-radiobuttons {
  margin-right: 10px;
}

div.radio-group {
  margin-left: 30px;
  margin-bottom: 10px;
}

div.radio-group label {
  padding: 10px;
  border: solid darkblue;
  border-radius: 5px;
  border-width: 1px;
}

input.form-checkbox {
  margin-right: 10px;
}

textarea.form-control {
  width: 70%;
  margin-left: 30px;
  margin-bottom: 20px;
  border: solid darkblue;
  border-radius: 5px;
  border-width: 1px;
}

/* checkbox group */
.checked-form-group {
  margin-left: 30px;
  margin-bottom: 10px;
  padding-left: 30px;
}

/* .checked-form-group label {
  padding: 10px;
  padding-left: 10px;
} */

div.checkbox-group label {
  margin-left: 30px;
  padding: 10px;
  /* display: inline-block; */
  display: block;
  margin-right: 0;

  /* border: 1px solid darkgray; */
}

/* .custom-add-service {
  padding: 5px;
} */

input#productSOW.form-checkbox {
  margin-right: 10px;
}

/* .productContainer {
  margin: 5px;
  padding: 20px;
  background-color: #269ad2;
  border-radius: 5px;
} */

/* checkbox with image */

/* .prod-family {
  display: inline-block;
  padding: 10px;

  position: relative;
  width: 230px;
  margin-right: 20px;
  margin-bottom: 10px;
  height: 30px;
}

/* .prod-image-checkbox {
  position: relative;
  width: 230px;
  margin-right: 20px;
  margin-bottom: 10px;
  height: 30px;

} */
/* position: absolute;
  right: 5px;
  bottom: 3px; */

/* label {
  display: inline-block;
} */

img {
  width: 100%;
  height: 200px;
  padding: 2px;
}

/* thumbnail {
  padding: 5px;
} */

.prod-selector {
  min-width: 100%;
  max-width: 100%;
  /* margin-right: 5px; */
  border-radius: 3px;
  border-width: 5px;
  padding: 5px;
  border: solid #228abd;
  /* border: none; */
}

input.prod-image-checkbox.text-center {
  /* margin-left: 5px; */
  margin: auto;
  width: 100%;
}

div.thumbnail.form-group {
  border: solid;
  border-radius: 5px;
  border-width: 2px;
  border: solid #228abd;
}

/* /////////////////////////////////////////////////////// */

/* .prod-family > input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: inherit;
}
.prod-family {
  font-weight: normal;
  cursor: pointer;
}
.prod-family:before {
  font-family: FontAwesome;
  content: "\f00c";
  background: #fff;
  color: transparent;
  border: 3px solid #ddd;
  border-radius: 3px;
  z-index: 1;
}
.prod-family-label:hover > .prod-family:before,
input:focus + .prod-family:before {
  border-color: #bdbdff;
}
.prod-family-label:hover > input:not(:checked) + .prod-family:before {
  color: #eee;
}
input:checked + .prod-family:before {
  color: #fff;
  background: #bdbdff;
  border-color: #bdbdff;
}
.prod-family-img:before {
  position: absolute;
  margin: 3px;
  line-height: normal;
}
input:checked + .prod-family-img + img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #bdbdff;
} */

/* /////////////////////////////////////////////////////// */

/* Retrieve Previous page */
/* CSS goes here */

/* Professional Services Page */
.container-fluid {
  margin: 30px;
}
.col-sm-4 {
  margin-left: 10px;
  padding: 10px;
  /* border: 1px solid black; */
  border-style: double;
  overflow-wrap: break-word;
  font-size: 14px;
  margin-bottom: 5px;
  background-color: #00b6f1;
}

.col-sm-8 {
  /* border: 1px solid black; */
  border-style: double;
  margin: 10px;
  margin-left: 10px;
  padding: 5px;
  font-size: 14px;
  background-color: #00b6f1;
  margin-right: 10vw;
}

/* ==================================== */

/* .container {
  display: flex;
  flex-wrap: wrap;
}

.box > * {
  flex: 1 1 160px;
}

.boxOne,
.boxTwo {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
}

.boxThree {
  border: 1px solid black;
  width: auto;
} */

/* ======================================== */

/* .boxOne {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px;
  margin: 5px;
}

.boxTwo {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px;
  margin: 5px;
}

.boxThree {
  border: 1px solid black;
  padding: 15px;
  margin: auto;
  max-width: auto;

} */

/* ================================ */

/* .boxOne {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px;
  margin: 5px;
  /* float: left;
  width: 40%;
  padding: 15px;
  border: 1px solid black;
  margin: 5px;
} */

/* .boxTwo {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px;
  margin: 5px;
  /* float: left;
  width: 40%;
  margin: 5px; 
} */

/* .boxThree {
  border: 1px solid black;
  padding: 15px;
  margin: auto;
  max-width: auto;
} */

/* ========================= */
/* .boxOne {
  float: left;
  width: 40%;
  padding: 15px;
  border: 1px solid black;
  margin: 5px;
}

.boxTwo {
  float: left;
  width: 40%;
  padding: 15px;
  border: 1px solid black;
  margin: 5px;
}

.boxThree {
  width: auto;
  height: auto;
  border: 1px solid black;
  margin: 5px;
  clear: both;
  margin: 5px;
  padding: 5px;
} */
/* ========================= */
/* .column {
  float: left;
  width: 33.3%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */
/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
